<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model 示例</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-model 示例</h1>
    <hr>
    <div id="app">
        <div>
            <h2>文本框/域</h2>
            <p style="white-space:pre">原文本: [{{message}}]</p>
            <p>v-model: <input type="text" v-model="message"></p>
            <p>v-model.lazy: <input type="text" v-model.lazy="message"></p>
            <p>v-model.number: <input type="text" v-model.number="message"></p>
            <p>v-model.trim: <input type="text" v-model.trim="message"></p>
            <p>textarea: <textarea v-model="message" ></textarea></p>
        </div>
        <div>
            <h2>多选框</h2>
            <p>已选: {{selectedRole}}</p>
            <p>
                <label><input type="checkbox" v-model="selectedRole" value="预言家">预言家</label>
                <label><input type="checkbox" v-model="selectedRole" value="狼人">狼人</label>
                <label><input type="checkbox" v-model="selectedRole" value="女巫">女巫</label>
                <label><input type="checkbox" v-model="selectedRole" value="猎人">猎人</label>
                <label><input type="checkbox" v-model="selectedRole" value="平民">平民</label>
            </p>
            <p>(结合v-for) 已选: {{selectedAnimal}}</p>
            <p>
                <label><input type="checkbox" v-model="isSelectedAll" @change="selectAll" >全选</label>
                <label v-for="animal in animals"><input type="checkbox" v-model="selectedAnimal" :value="animal" @change="cancelSelect">{{animal}}</label>
            </p>
        </div>
        <div>
            <h2>单选框</h2>
            <p>已选: {{selectedRole2}}</p>
            <p>
                <label><input type="radio" v-model="selectedRole2" value="预言家">预言家</label>
                <label><input type="radio" v-model="selectedRole2" value="狼人">狼人</label>
                <label><input type="radio" v-model="selectedRole2" value="女巫">女巫</label>
                <label><input type="radio" v-model="selectedRole2" value="猎人">猎人</label>
                <label><input type="radio" v-model="selectedRole2" value="平民">平民</label>
            </p>
        </div>
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: "#app",
            data: {
                //文本框/域
                message:"Hello World! 我学会了",
                //多选框
                selectedRole: [],
                animals: ['猴子','大象','青蛙','老鹰','狮子'],
                selectedAnimal: [],
                isSelectedAll: false,
                //单选框
                selectedRole2:''
            },
            methods: {
                //多选框(全选/取消全选)
                selectAll: function () {
                    if(this.isSelectedAll){
                        this.selectedAnimal = this.animals;
                    }else{
                        this.selectedAnimal = [];
                    }
                },
                cancelSelect: function(){
                    if(this.selectedAnimal.length < this.animals.length){
                        this.isSelectedAll = false;
                    }
                }
            },
        })
    </script>
</body>
</html>