<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js 学习</title>
    <script type="text/javascript" src="assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Vue 2.0 学习</h1>
        <hr>
        <h2>(一) 基本指令</h2>
        <ol>
            <li v-for="item in esList1"><a :href="item.href">{{item.text}}</a></li>
        </ol>
        <h2>(二) 全局API</h2>
        <ol>
            <li v-for="item in esList2"><a :href="item.href">{{item.text}}</a></li>
        </ol>
        <h2>(三) 选项</h2>
        <ol>
            <li v-for="item in esList3"><a :href="item.href">{{item.text}}</a></li>
        </ol>
        <h2>(四) 实例API和内置组件</h2>
        <ol>
            <li v-for="item in esList4"><a :href="item.href">{{item.text}}</a></li>
        </ol>
        <h2>(五) vue-cli 脚手架</h2>
        <ol>
            <!-- <li v-for="item in esList4"><a :href="item.href">{{item.text}}</a></li> -->
        </ol>
        <h2>(六) vue-router 路由</h2>
        <ol>
            <!-- <li v-for="item in esList4"><a :href="item.href">{{item.text}}</a></li> -->
        </ol>
        <h2>(七) vuex 状态管理</h2>
        <ol>
            <!-- <li v-for="item in esList4"><a :href="item.href">{{item.text}}</a></li> -->
        </ol>
        <h2>(八) weex Hybird编程</h2>
        <ol>
            <!-- <li v-for="item in esList4"><a :href="item.href">{{item.text}}</a></li> -->
        </ol>
        <hr>
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: "#app",
            data: {
                esList1: [
                    { text: "Hello world 示例", href: "examble1/hello-world.html" },
                    { text: "v-if & v-show 示例", href: "examble1/v-if-show.html" },
                    { text: "v-for 示例", href: "examble1/v-for.html" },
                    { text: "v-text & v-html 示例", href: "examble1/v-text-html.html" },
                    { text: "v-on 示例", href: "examble1/v-on.html" },
                    { text: "v-model 示例", href: "examble1/v-model.html" },
                    { text: "v-bind 示例", href: "examble1/v-bind.html" },
                    { text: "v-pre & v-cloak & v-once 示例", href: "examble1/v-pre-cloak-once.html" },
                ],
                esList2: [
                    { text: "Vue.directive 示例", href: "examble2/vue.directive.html" },
                    { text: "Vue.extend 示例", href: "examble2/vue.extend.html" },
                    { text: "Vue.set 示例", href: "examble2/vue.set.html" },
                    { text: "Vue生命周期 示例", href: "examble2/lifecycle.html" },
                    { text: "Template模板 示例", href: "examble2/template.html" },
                    { text: "Component 示例(1) - 基本使用", href: "examble2/vue.component-1.html" },
                    { text: "Component 示例(2) - 自定义标签属性", href: "examble2/vue.component-2.html" },
                    { text: "Component 示例(3) - 组件嵌套", href: "examble2/vue.component-3.html" },
                    { text: "Component 示例(4) - Component标签", href: "examble2/vue.component-4.html" },
                    { text: "Component 示例(5) - 向组件传值和绑定事件", href: "examble2/vue.component-5.html" },
                    { text: "Component 示例(6) - 自定义组件双向绑定", href: "examble2/vue.component-6.html" },
                    { text: "Component 示例(7) - 通过自定义全局事件进行组件间通讯", href: "examble2/vue.component-7.html" },
                    { text: "Component 示例(8) - 父子组件生命周期的关系", href: "examble2/vue.component-8.html" },
                    { text: "Component 示例(9) - 异步加载组件", href: "examble2/vue.component-9.html" },
                    { text: "Vue.extend 示例（追加）", href: "examble2/vue.extend2.html" },
                ],
                esList3: [
                    { text: "propsData选项 示例", href: "examble3/propsData.html" },
                    { text: "computed选项 示例", href: "examble3/computed.html" },
                    { text: "methods选项 示例", href: "examble3/methods.html" },
                    { text: "watch选项 示例", href: "examble3/watch.html" },
                    { text: "mixins选项 示例", href: "examble3/mixins.html" },
                    { text: "extends选项 示例", href: "examble3/extends.html" },
                    { text: "delimiters选项 示例", href: "examble3/delimiters.html" },
                    { text: "追加：利用extends选项实现组件继承", href: "examble3/extends2.html" },
                    { text: "追加：全局API Vue.extends() 与组件继承", href: "examble3/extends3.html" },
                ],
                esList4: [
                    { text: "Vue实例方法 示例", href: "examble4/instance-methods.html" },
                    { text: "Vue实例事件方法操作 示例", href: "examble4/instance-events.html" },
                    { text: "内置组件slot 示例", href: "examble4/slot.html" },
                    { text: "内置组件keep-alive 示例", href: "examble4/keep-alive.html" },
                ]
            }
        });
    </script>
</body>
</html>